<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
          <ion-input placeholder="Title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input placeholder="The virus hasn't killed me yet"></ion-input>
      </ion-item>
        <ion-item-divider></ion-item-divider>
      <ion-item>
          <ion-label>Birthdate</ion-label>
          <ion-datetime value="2000-01-01" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Approximate Time</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2000-01-01T07:43Z"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Today's Date</ion-label>
          <ion-datetime value="2020-03-23" placeholder="Select Date"></ion-datetime>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-app>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
-->
