<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Virus Hasn't Killed Me Yet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-app>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
          <ion-input placeholder="Title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input placeholder="Enter a motivational quote"></ion-input>
      </ion-item>
        <ion-item-divider></ion-item-divider>
      <ion-item>
          <ion-label>Birthdate</ion-label>
          <ion-datetime value="2002-01-01" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Approximate Time</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="2002-01-01T07:43Z"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Today's Date</ion-label>
          <ion-datetime value="2020-03-23" placeholder="Select Date"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-card>
      <img src="./meme.jpg">
      <ion-card-header>
        <ion-card-subtitle>Before I graduate on a Minecraft server...</ion-card-subtitle>
        <ion-card-title>Senior Bucket List</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This card is currently under reconstruction as the creators have had to delete every item on the list
        due to the unfavorable circumstances at the present. Please patiently await the final results! Here's a preview:
        <ion-icon name="bed"></ion-icon> Sleep
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-app>

<!--
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
-->
